[submodule "group_autotesting/jmsd_tps_googletest"]
	path = group_autotesting/jmsd_tps_googletest
	url = https://github.com/jiteman/jmsd_tps_googletest.git
[submodule "group_autotesting/jmsd_tps_cppunit"]
	path = group_autotesting/jmsd_tps_cppunit
	url = https://github.com/jiteman/jmsd_tps_cppunit.git
[submodule "group_foundation/jmsd_tps_poco_cpp"]
	path = group_foundation/jmsd_tps_poco_cpp
	url = https://github.com/jiteman/jmsd_tps_poco_cpp.git
