[submodule "group_autotesting/jmsd_tps_googletest"]
	path = group_autotesting/jmsd_tps_googletest
	url = https://github.com/jiteman/jmsd_tps_googletest.git
[submodule "group_autotesting/jmsd_tps_cppunit"]
	path = group_autotesting/jmsd_tps_cppunit
	url = https://github.com/jiteman/jmsd_tps_cppunit.git
[submodule "group_foundation/jmsd_tps_poco_cpp"]
	path = group_foundation/jmsd_tps_poco_cpp
	url = https://github.com/jiteman/jmsd_tps_poco_cpp.git
[submodule "group_media/jmsd_tps_sfml"]
	path = group_media/jmsd_tps_sfml
	url = https://github.com/jiteman/jmsd_tps_sfml.git
[submodule "group_media/jmsd_tps_openal_soft"]
	path = group_media/jmsd_tps_openal_soft
	url = https://github.com/jiteman/jmsd_tps_openal_soft.git
[submodule "group_media/jmsd_tps_sdl"]
	path = group_media/jmsd_tps_sdl
	url = https://github.com/jiteman/jmsd_tps_sdl.git
[submodule "group_media/jmsd_tps_flac"]
	path = group_media/jmsd_tps_flac
	url = https://github.com/jiteman/jmsd_tps_flac.git
[submodule "group_media/jmsd_tps_vorbis"]
	path = group_media/jmsd_tps_vorbis
	url = https://github.com/jiteman/jmsd_tps_vorbis.git
